.link {
  font-weight: 500;
  color: #18181b;
  text-decoration: underline;
  text-underline-offset: 2px;

  &:hover {
    color: #52525b;
  }

  @media (prefers-color-scheme: dark) {
    color: #fafafa;

    &:hover {
      color: #d4d4d8;
    }
  }
}
